.mainBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 20px 140px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.slogan {
  font-size: 47px;
  font-weight: 500;
  line-height: 1.7;
  color: #111;
  max-width: 1000px;
  margin: 0 auto;
  letter-spacing: 0.5px;
  font-family: "Playfair Display", "Noto Serif KR", serif;
}
